@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /* -paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */
  --fonts1: 'Big Shoulders Display', cursive;
  --fonts2: 'Lexend Deca', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: var(--very-light-gray);
}

.cards-container {
  width: 80%;
  max-width: 1080px;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--bright-orange);
  padding: 3em;
}

.card h2 {
  color: var(--very-light-gray);
  font-family: var(--fonts1);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.card p {
  color: var(--transparent-white);
  font-family: var(--fonts2);
  font-size: 1rem;
}

.card-left {
  background-color: var(--bright-orange);
  border-radius: 10px 10px 0 0;
}

.card-middle {
  background-color: var(--dark-cyan);
}

.card-right {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 10px 10px;
}

.btn {
  background-color: var(--very-light-gray);
  color: var(--bright-orange);
  text-decoration: none;
  font-family: var(--fonts2);
  font-size: 1rem;
  padding: 1em 1.5em;
  border-radius: 30px;
  display: inline-block;
  margin-top: 1em;
  cursor: pointer;
}

.card-left .btn {
  color: var(--bright-orange);
}

.card-left .btn:hover {
  color: var(--very-light-gray);
  box-shadow: 0 0 0 2px var(--very-light-gray);
  background-color: var(--bright-orange);
}

.card-middle .btn {
  color: var(--dark-cyan);
}

.card-middle .btn:hover {
  color: var(--very-light-gray);
  box-shadow: 0 0 0 2px var(--very-light-gray);
  background-color: var(--dark-cyan);
}

.card-right .btn {
  color: var(--very-dark-cyan);
}

.card-right .btn:hover {
  color: var(--very-light-gray);
  box-shadow: 0 0 0 2px var(--very-light-gray);
  background-color: var(--very-dark-cyan);
}

@media (min-width: 920px) {
  .cards-container {
    display: flex;
    flex-direction: row;
  }

  .card-left {
    border-radius: 10px 0 0 10px;
  }
  
  .card-right {
    border-radius: 0 10px 10px 0;
  }
}